* {
  font-family: "GT Walsheim",sans-serif;
}

/*Top Main Navigation*/
#logo img{
	float: left;
	height: 50px;
	padding-top: 0.5rem;
	padding-left: 2.5rem;
	position: absolute;
	margin: 0.8 3.5rem;
}


.menu li{
	list-style-type: none;
	font-size: 1.2em;
	margin: auto 0.4rem;
}

.menu a{
	display: block;
	float: right;
	padding-top: 0.8em;
	padding-right: 1.5em;
	padding-left: 1.5rm;
	text-decoration: none;
	color: #CC773F;
	letter-spacing: 0.05em;
}

.menu li a:hover, a:focus{
	display: block;
	color: #7F583E;
	text-decoration: none;
}


.element {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

section{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#interactive_elements h2{
  margin-top: 6rem;
}

a{
  color: rgb(232,158,111);
  transition: color 0.5s;
  text-decoration: none;
/*  font-weight: bold;*/
  font-size: 1.1em;
}

a:active, a:hover, a:focus{
  color: rgb(127,88,62);
  text-decoration: none;
}

a img:hover, a img:active{
  opacity: 0.5;
}

h1,h2,h3,h4{
  font-family: 'Dosis', sans-serif;
  color: rgb(204,119,63);
}

p {
  margin-top: 0;
/*  max-width: 60rem;*/
  color: rgb(131, 125, 121);
}

code {
  background-color: rgb(252,230,191);
  color: rgb(131, 125, 121);
  padding: 0.5rem;
  display: block;
}

code span
{
    display: block;
}

label{
  color: rgb(131,125,121);
}

.top_img{
	background: url("../img/top_image.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}

.intro{
	margin: 5rem;
}

.intro_text{
	display: flex;
	flex-flow: wrap;
	margin: 4rem;
	align-self: center;
	justify-content: center;
}

.intro_header{
	text-align: center;
	margin-top: 3rem;
}

/*style for contact form*/
#form_element{
	margin: 1rem;
}

#form_contact input[type=text], #form_contact input[type=email]{
  width: 60%;
}

#form_contact textarea {
  width: 60%;
  padding:0.4rem 0.5rem;
  margin-right: 0;
  box-sizing: border-box;
  border: 0.05rem solid rgb(90,90,90);
  outline: none;
  resize: none;
}



/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.submit__button_link {
  display: inline-block;
  padding: 1.2rem;
  border-radius: 0.8em;
  color: white;
  background-color: rgb(127,88,62);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.submit__button_link:hover, .submit__button_link:focus {
  background-color: rgb(160,120,100);
}

.reset__button_link {
  display: inline-block;
  padding: 1.2rem;
  border-radius: 0.8em;
  color: white;
  background-color: rgb(127,88,62);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.reset__button_link:hover, .reset__button_link:focus {
  background-color: rgb(160,120,100);
}

input[type=text] {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

input[type=text]:focus, input[type=text]:hover {
    border-color:rgb(127,88,62);
}

input[type=radio] {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.bulletlist{
  display: block;
  padding: 1.2em;
  list-style: circle;
  color: rgb(131,125,121);
}

.bulletlist li{
  padding: 1.5rem;
}

/*
  TEXT ELEMENTS -------------------
*/

.element {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

#interactive_elements{
  margin: 0.5rem;
}

/* product listing */
.product_listing{
  overflow: hidden;
  display: inline-block;
}

.product_listing img{
  height: 300px;
  margin: 1.2rem;
  border-radius: 0.8em;
}

.product_listing img:hover, img:active{
  opacity: 0.5;
}

.product_name{
  text-align: center;
}

/* payment form */
.card{
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
}

#form_cardnumberfield{
  padding: 1em;
}

#form_expiryfield{
  padding: 1em;
}

input[type=number] {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
}

input[type=number]:focus, input[type=number]:hover {
    border-color:rgb(127,88,62);
}

.submit__button_link{
  margin-top: 1em;
}